
{% load static %}
{% if request.user.is_authenticated %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <a href="{% url 'ksi_store:Exclusive' %}">
    <ol class="carousel-indicators">
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li style="border-color: brown; border-width: 1px;" data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    
    </ol>
  
    <div class="carousel-inner" style="background: #e14eca; border-radius: 5px; border-width: 100px ; ">
      <div class="carousel-item active">
      <div class="row ">
          <div class="col"><img  width="300px" height="500px" src="{% static 'assets/img/sweatshirt.png' %}" class="d-block w-100" alt="...">                            </div>
          <div class="col"><img  width="300px" height="500px" src="{% static 'assets/img/tshirt_white.png' %}"class="d-block w-100" alt="...">                           </div></div></div>
      <div class="carousel-item"> <div class="row"> <div class="col"><img  width="300px" height="500px" src="{% static 'assets/img/tshirt_blue.png' %}"class="d-block w-100" alt="...">    </div>
                                                    <div class="col"><img  width="300px" height="500px" src="{% static 'assets/img/bag.png' %}"class="d-block w-100" alt="...">            </div></div></div>
      <div class="carousel-item"> <div class="row"> <div class="col"><img  width="300px" height="500px"src="{% static 'assets/img/cap.png' %}" class="d-block w-100" alt="...">            </div>
                                                    <div class="col"><img  width="300px" height="500px"src="{% static 'assets/img/diary_b.png' %}"class="d-block w-100" alt="...">         </div></div></div>
      <div class="carousel-item"> <div class="row"> <div class="col"><img  width="300px" height="500px"src="{% static 'assets/img/diary.png' %}"class="d-block w-100" alt="...">           </div>
                                                    <div class="col"><img  width="300px" height="500px"src="{% static 'assets/img/mask_b.png' %}"class="d-block w-100" alt="...">          </div></div></div>
      <div class="carousel-item"> <div class="row"> <div class="col"><img  width="300px" height="500px" src="{% static 'assets/img/mask.png' %}"class="d-block w-100" alt="...">           </div>
                                                    <div class="col"><img  width="300px" height="500px" src="{% static 'assets/img/tshirt_white.png' %}"class="d-block w-100" alt="...">   </div></div></div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </a>
  </div>
  {% endif %}
