
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" class="nav-link">
          <h6>KSI is a sub group of &copy; KSI Group of Companies </h6>
          </a>
          <p></p>
        <h6>Developed and Managed by KSI-coded by <a target="_blank">3 buck-coders</a></h6>
        </li>
      </ul>
      <div class="copyright">
        <h3>To Contact Us :<a href="{% url 'ksi_store:contact' %}">Click Here</a></h3>
        
      </div>
    </div>
  </footer>
