{% extends "layouts/base.html" %}

{% load static %}

{% block title %} KSI {% endblock %} 

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
	<div class="row">
		<div class="col-lg-12" style="margin-top: 10px;">
			<div class="box-element">

				<a  class="btn btn-primary" href="{% url 'ksi_store:Exclusive' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> ₹{{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success btn-purchase" href="{% url 'ksi_store:mail' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
            <div class="col-lg-12">
			<div class="box-element">
				<div class="cart-row col-lg-12" style="display: flex;
                align-items: flex-stretch;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #ececec;">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:2"><strong>Price</strong></div>
					<div style="flex:2"><strong>Quantity</strong></div>
					<div style="flex:2"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row" style="display: flex;align-items: flex-stretch;padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #ececec;">
					            <div style="flex:2"><img style="height: 100px; width: 100px;" src="{{item.product.imageURL}}"></div>
					        <div style="flex:2; padding-top:30px"><p><h4>{{item.product.name}}</h4></p></div>
					        <div style="flex:2; padding-top:30px"><p><h4>₹{{item.product.price|floatformat:2}}</h4></p></div>
					    <div>
						<p class="quantity" style="display: inline-block; padding-right:10px; margin-right :30px;">{{item.qunatity}}</p>
						    <div class="quantity" style="display: inline-block ;padding-right:10px;">
							<img style="width: 25px;cursor: pointer;display: block;margin-top: 5px;transition:.1s;  margin-left :30px;" data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/UP.png' %}">
					
							<img style="width: 25px;cursor: pointer;display: block;margin-top: 5px;transition:.1s;  margin-left :30px;" data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/DOWN.png' %}">
						    </div>
					    </div>
					        <div style="flex: 2; margin-left :20px;" ><p><h4>₹{{item.get_total|floatformat:2}}</h4></p></div>
				</div>
				{% endfor %}
			</div>
            </div>
		</div>
	</div>
{% endblock content %}
{% block javascripts %}

{% endblock javascripts %}
