{% extends "layouts/base.html" %}

{% load static %}

{% block title %} KSI {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
{% include 'includes/corrasol.html'  %}
<section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
        <div class="active-banner-slider owl-carousel">
          <!-- single-slide -->
          {% for products in cloth %}
          {% if products.id >= 21 and products.id <= 26 %}
          <div class="row mt-5 ml-5 single-slide align-items-center d-flex">
            <div class="col-lg-5 col-md-6">
              <div class="banner-content">
                <a href="{% url 'ksi_store:single_product' products.id %}">
                <h1><a href="{% url 'ksi_store:single_product' products.id %}">{{ products.name }} </a><br></h1>
                <p> ₹{{ products.price }}</p>
                <div class="add-bag d-flex align-items-center">
                  <a class="social-info">
                    <button class="btn btn-primary update-cart" id="add_to_cart" data-product="{{ products.id }}" data-action="add">Add To Cart</button>
                    <!-- <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" ></button>dd to Cart</button> -->
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div  class=" float-right w-50 mr-5 card shadow-ms">
                <img class="card-body" src="{{ products.img.url }}" alt="">
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container my-3">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        {% for clt in cloth %}
        <div class="card shadow-sm">
      <img class="rounded-circle" src="{% static 'images\clothing\jeans.jpeg' %}" style="height:200;width: 200" >
  
          <div class="card-body">
            <p class="card-text">{{clt.name}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-secondary update-cart-clothings"  data-product=""="{{ clt.id }}" data-action="add">Add to Cart</button>
              </div>
              <small class="text-muted">{{ clt.price }}</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col">
        <div class="card shadow-sm">
      <img class="rounded-circle" src="{% static 'images\clothing\shirts.jpeg' %}" style="height:200;width: 200" >
  
          <div class="card-body">
            <p class="card-text">things</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
      <img class="rounded-circle" src="{% static 'images\clothing\Shorts.jpeg' %}" style="height:200;width:200" >
  
          <div class="card-body">
            <p class="card-text">things</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
      <img class="rounded-circle" src="{% static 'images\clothing\Sweatshirts.jpeg' %}">
  
          <div class="card-body">
            <p class="card-text">things</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
      <img class="rounded-circle" src="{% static 'images\clothing\tank_top.jpeg' %}">
  
          <div class="card-body">
            <p class="card-text">things</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
      <img class="rounded-circle" src="{% static 'images\clothing\tshirt.jpeg' %}">
  
          <div class="card-body">
            <p class="card-text">things</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  -->

  {% endblock content %} 

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

{% endblock javascripts %}
